@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: black url("../images/Group1.svg");
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
    max-height: 1080px;
}
.cards3 {
    display: none;
}
.cards4 {
    display: none;
}
.cards22 {
    display: none;
}
.back1 {
    display: none;
}
.back2 {
    display: none;
}
.background1 {
    position: absolute;
    top: -50px;
}
.back {
  position: absolute;
  z-index: -10;
    height: 100vh;
  width: 100vw;
}

.container {
    color: white;
}

.row2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    display: block;
}

.row1 {
    display: flex;
    justify-content: space-between;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vw;
}
.row15 {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 1000;
    font-size: 35px;
    padding-left: 2vw;
    padding-right: 26vw;
    padding-top: 5vh;
    text-align: left;
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin-top: -3vh;
}

.ss {
    width: 30vw;
}
.ss1 {
    width: 30vw;
    padding-right: 4vw;
}
.cards1 {
    padding-right: 7vw;
}
.cards11 {
    width: 20vw !important;
}
.row2 div {
    width: 15vw;
}
.row2 img {
    object-fit: contain;
    width: 150%;
}
.row3 {
    position: relative;
    margin-left: 27px;
    margin-right: 27px;
    top: 29vh;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.btn {
    color: #FFFFFF;
    background: #000000;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 10px 30px;
    width: 20vw;
    height: 9vh;
    border-radius: 14px;
    cursor: pointer;
    font-size: 2.5vw;
}
.btn:hover{
    background: #27577C;
}

table,
th,
td {
    padding: 0.1vh 2vw;
    border: 3px solid white;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
}

#box1 {
    width: 10vw;
    display: inline-flex;
    padding-left: 2vw;
}
#box2 {
    width: 10vw;
    display: inline-flex;
    padding-right: 3vw;
}
.question {
    position: relative;
    /*margin-top: 30px;*/
    /*margin-left: 95vw;*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    color: black;
    width: 55px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 101px;
    text-align: center;
    cursor: pointer;
}
.question:hover {
    background: #000000;
    color: #FFFFFF;
}
#viewDetails {
    margin-top: 100px;
    padding: 50px;
    z-index: 999;
    display: none;
    position: absolute;
    top: 1px;
    left: 7.5vw;
    width: 80vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    line-height: 50px;
    background: #FFFFFF;
    border-radius: 0.5em;
}

.start {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 12vw;
    z-index: 999;
    left: 7.5vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    background: #FFFFFF;
    border-radius: 0.5em;
    margin-top: 5vh;
    margin-left: 20vw;
    cursor: pointer;
}
.start:hover {
    color: red;

}
.header {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
}
.text1 {
    margin-top: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 250;
    font-size: 35px;
    line-height: 49px;
    color: #FFFFFF;
    padding-right: 30px;
}
#welcomeScreen {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}
.cards2 {
    width: 50%;
    height: 100vh;
}
.lolik {
    background-color: black;
    margin-left: 39px;
    margin-top: 10vh;
    width: 60vw;
}
