@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background: url("/images/Group 1.svg");
  background-color: black;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.back {
  position: absolute;
  z-index: -9;
    height: 100%;
  width: 100%;
}

.container {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    /*padding: 20px;*/
}

.flex-blackjack-row-2 div {
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

/
.flex-blackjack-row-2 img {
    padding: 10px;
    object-fit: contain;
}
.flex-blackjack-row-3 div {
    position: relative;
    top: 20px;
    margin-left: 27px;
    margin-right: 27px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}
.btn-lg {
    border: none;
    padding: 10px 30px;
    width: 323px;
    height: 94px;
    border-radius: 14px;
    cursor:pointer;
    font-size: 40px;
}
.btn-lg:hover{
    background:dodgerblue;
}

.btn-lg:hover{
    background:dodgerblue;
}

.flex-blackjack-row-3 div button {

}

table,
th,
td {
    padding: 5px;
    border: 1px solid white;
    color: white;
    align-items: center;
    text-align: center;
}
#win_header {
    color: aquamarine;
}

#loss_header {
    color: red;
}

#draw_header {
    color: yellow;
}
