@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background: #000000;

}
.background{
  display: grid;
}
.back {
  width: 100%;
}
.souls {
  position: absolute;
  top: 675px;
  width: 100%;
  z-index: -1;
}
.balance {
  display: flex;
  position: absolute;
  top: 36px;
  left: 27px;
  width: 10vh;
}
.balance1 {
  display: inline;
}
.number {
  position: absolute;
  left: 185px;
  top: 15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.balance2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  color: white;
}
.question {
  position: absolute;
  right: 19px;
  top: 3.33%;
  width: 8vh;
}
/*.cardDeck {
  border: 5px solid darkblue;
  position: absolute;
  right: 280px;
  top: 140px;
  width: 8vw;
}*/
.karty {
  border: 5px solid darkblue;
  position: absolute;
  right: 61.55px;
  top: 141px;
  width: 17vw;
}
